@charset "utf-8";

body {
    background-color: #e0fbfc;
}
#nome {
    font-family:'Times New Roman', Times, serif;
}
#descricao {
    font-family: helvetica;
}
#apresentacao {
    font-size: 1.5em;
}
.small {
    font-size: 15px;
}
.medium {
    font-size: 25px;
}
.large {
    font-size: 35px;
}
.destaque {
    font-weight: bold;
    font-style: italic;
}