@charset "utf-8";
.principal {
    width: 800px;
    height: 500px;
    background-color: aliceblue;
    padding: 10px;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}
#minha-foto{
    width: 200px;
    float: left;
    margin: 35px;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
    
}
body {
    background-color: #e0fbfc;
}
#nome {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
#descricao {
    font-family: helvetica;
    clear: both;
}
.apresentacao {
    font-size: 1.5em;
    margin-left: 15px;
    padding: 35px;
}
.small {
    font-size: 15px;
}
.medium {
    font-size: 25px;
}
.large {
    font-size: 35px;
}
.opcoes {
    
}
.habilidades {
   
}